*{
  box-sizing:border-box;
}
body{
  margin:0;
  font-family: Arial, sans-serif;
  display:flex;
}

#root {
  min-height:100vh;
  width:100%;
  display: flex;

}

.main-content{
  flex:1;
  padding: 30px;
}

aside{
  width: 240px;
  min-height: 100vh;
  padding: 25px 20px;
}